cef_user_data
coc
Code - OSS
code-oss
configstore
dconf
Electron
gedit
GIMP
.git
gtk-2.0
gtk-3.0
inkscape
libreoffice
lvim
nautilus
procps
pulse
QtProject
ranger
rofi
scribus
spotify
Unity Hub
unity3d
UnityHub
yarn
yay
mimeapps.list
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
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
